@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/* layout tool apps - common */
/*html {
  min-width: 150px;
  max-width: 500px;
  min-height: 300px;
  max-height: 400px;
}*/

body {
  background-color: #F9F6EF;
  overflow: hidden;
}

.container{
  left: 10px;
  position:absolute;
  margin-top:5px;
}

#topbar {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 3000;
  width: 100%;
  height: 40px;
  background-color: #090C02;
}

#bottombar {
  bottom: 0;
  right: 0;
  z-index: 3001;
  width: 100%;
  position: fixed;
  height: 10%;
  min-height: 20px;
  max-height: 40px;
}

#contentarea {
  margin: 50px 3% 20px 3%;
}

.bars{
  font-size:18px;
}

.input_bars{
  border:1px solid #cccccc;
  width: 15%;
  height: 10%;
}

/* textout specific */

/* Versals */
#contentarea p:first-letter {
  color: #903;
  float: left;
  font-size: 250%;
  line-height: 20px;
  padding-top: 4px;
  padding-right: 1px;
  padding-left: 3px;
  text-transform: uppercase;
}
/* Identity bar color */
#bottombar {
  background-color: #5EEB5B;
}

/* Serif Checkbox */


input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f031"; color: grey;} /* unchecked icon */

input[type=checkbox]:checked + label:before { content: "\f031"; color: white;} /* checked icon */
